body {
  background-color: gray;
}

.headline {
  font-size: 50px;
  text-align: center;
  color: white;
  font-weight: 800;
  
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.image {
  height: 400px;
  width: 400px;
  justify-content: center;
  margin: 3rem;
  border: 2px solid black;
  box-shadow: 10px 10px 5px rgb(132, 116, 116);
}
